@{
    ViewData["Title"] = "Risk Game";
}

<div style="border:2px solid black; background:#edc589; width:1060px; padding:20px;">
<form style="margin-left:50px;">
       <span style="font-weight:bold">Number of Players (2-6): </span> 
    <select name="players">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select> <input type="submit" value="Play"style="margin-left:30px; background:rgb(216, 172, 118) ; color:black;">
</form>

<div style="border:2px solid black; position: relative; background-image: url(images/risk-original.jpg); width:1060px; height:700px;">
@{
    foreach( var element in ViewBag.game)
    {
    var top= ViewBag.game[element.Key].topLeftY +"px";
    var left = ViewBag.game[element.Key].topLeftX  +"px";
    var width = ViewBag.game[element.Key].bottomRightX - ViewBag.game[element.Key].topLeftX +"px";
    var height = ViewBag.game[element.Key].bottomRightY - ViewBag.game[element.Key].topLeftY +"px";

<form style="position: absolute; top: @top ; left: @left; ">
    <label style=" position: absolute; left: @left; color:red;"></label>
    <input type="submit" value="" style=" height: @height; color:red; border:1px solid black; width:@width;">
</form>
    }
}


</div>
</div>