@{
    ViewData["Title"] = "Risk Game";
}

<div style="border:2px solid black; position: relative; background-image: url(images/risk-original.jpg); width:1060px; height:700px;">


<form style="position: absolute; top: 85px; left: 25px;  ">
    <label style=" position: absolute; left: 25px; color:red;">11</label>
    <input type="submit" value="" style="width:3px; height:40px; color:red; border:1px solid black;">
</form>


</div>